.nav {
  display: flex;
  align-items: center;
  border: 2px solid black;
  width: 100vw;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav li:hover {
  background-color: red;
}
